<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <!-- Íconos -->
    <script src="https://kit.fontawesome.com/93d15c86bc.js" crossorigin="anonymous"></script>
    <!-- fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto&display=swap" rel="stylesheet">

    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="primario">
            <div class="superior">
                <img src="/images/logo-mercado-liebre.svg" alt="logo">

                <div class="searchBar">
                    <input type="text" placeholder="Buscar productos, marcas">
                    <button class="boton">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
                <p class="compra-cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </p>
            </div>
        </div>
        <ul>
            <nav class="navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </nav>
            <nav class="loginbar">
                <li><a href="/register">Creá tu cuenta<i class="fa-regular fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá<i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </nav>
        </ul>
        <a href="#" class="hamburguer"><i class="fa-solid fa-bars"></i></a>
    </header>

    <img src="images/img-home-banner.jpg" alt="home banner" class="banner">

    <main>
        <h3>Basado en tu última visita</h3>
        <section>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex">
                <div class="container">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precioYDescuento">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% off</p>
                    </div>
                    <p class="descripciones">Cafetera Moulinex</p>
                </div>
            </article>

            <article>
                <img src="images/img-macbook-pro-2019.jpg" alt="macbook pro 2019">
                <div class="container">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precioYDescuento">
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% off</p>
                    </div>
                    <p class="descripciones">MacBook Pro 2019</p>
                </div>
            </article>

            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10">
                <div class="container">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precioYDescuento">
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p>
                    </div>
                    <p class="descripciones">Samsung Galaxy S10</p>
                </div>
            </article>

            <article>
                <img src="images/img-tv-samsung-smart.jpg" alt="tv samsung smart">
                <div class="container">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precioYDescuento">
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                    </div>
                    <p class="descripciones">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>

        <h3>Ofertas</h3>
        <section>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex">
                <div class="container">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precioYDescuento">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% off</p>
                    </div>
                    <p class="descripciones">Cafetera Moulinex</p>
                </div>
            </article>

            <article>
                <img src="images/img-macbook-pro-2019.jpg" alt="macbook pro 2019">
                <div class="container">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precioYDescuento">
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% off</p>
                    </div>
                    <p class="descripciones">MacBook Pro 2019</p>
                </div>
            </article>

            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10">
                <div class="container">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precioYDescuento">
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p>
                    </div>
                    <p class="descripciones">Samsung Galaxy S10</p>
                </div>
            </article>

            <article>
                <img src="images/img-tv-samsung-smart.jpg" alt="tv samsung smart">
                <div class="container">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precioYDescuento">
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                    </div>
                    <p class="descripciones">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
    </main>

    <footer>
        <section>
            <article>
                <i class="fa-solid fa-credit-card"></i>
                <p class="titulo">Pagá con tarjeta o en efectivo</p>
                <p class="detalle">Con MercadoLiebreCash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>

            <article>
                <i class="fa-solid fa-gift"></i>
                <p class="titulo">Envío gratis desde $ 2.500</p>
                <p class="detalle">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>

            <article>
                <i class="fa-solid fa-user-shield"></i>
                <p class="titulo">Seguridad, de principio a fin</p>
                <p class="detalle">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>

            <article class="copyright">
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </article>
        </section>
    </footer>

</body>

</html>