:root {
    --color1: #EAC926;
    --color2: #03264C;
    --color3: #1259c3;
    --color4: #666;
    --color5: #ebebeb;
    --color6: #39b54a;    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color5);
}

header {
    background-color: var(--color1);
    padding: 20px;
    font-size: 12px;
}

.top-var {
    width: 100%;  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.top-var a {
    display: contents;
}

.top-var img {
    width: 50%;
}

.searchBar {
    max-width: 40%;
    height: 5vh;
    background-color: white;
    border-radius: 5px;
}

.searchBar form {
    height: 100%;
}

.searchBar input {
    max-width: 80%;
    height: 100%;
    border: none;
    font-size: 14px;
    border-radius: 10px;
    padding-left: 5px;
    outline: none;
}

.boton {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    cursor: pointer;
}

.searchBar i {
    color: #666;
    align-items: center;
    height: 100%;
}

.compra-cuotas {
    text-align: center;
    font-size: 14px;
    padding: 15px;
    font-weight: 400;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    font-size: 10px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.hamburguer {
    background-color: var(--color3);
    color: var(--color5);
    display: block;
    max-width: 50px;
    padding: 8px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 28px;
    margin: auto;
    margin-top: 10px;
}

.navbar,
.loginbar {
    display: none;
}

/****************************************** BANNER ******************************************/

.banner {
    width: 100vw;
}

/****************************************** MEDIA ******************************************/

@media (min-width: 395px) {

    header {
        padding: 15px 10px;
    }

    .top-var {
        padding-bottom: 30px;
    }

    .top-var img {
        width: 30%;
    }

    .searchBar {
        width: 25%;
        height: 100%;
        background-color: transparent;
        text-align: center;
    }

    .searchBar input {
        border-radius: 3px 0px 0px 3px;
        text-align: start;
        padding-left: 1px;
        font-size: 10px;
    }

    .boton {
        background: var(--color5);
        cursor: pointer;
        border-radius: 3px;
        font-size: 10px;
        font-weight: bolder;
        padding: 1px;
    }

    .searchBar i {
        color: black;
    }

    a {
        font-size: 9px;
    }

    .compra-cuotas {
        width: 35%;
        font-size: 9px;
        padding: 0;
    }

    ul {
        display: flex;
        justify-content: space-between;
        padding: 1px 5px;
    }

    .navbar,
    .loginbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 5px;
    }

    .hamburguer {
        display: none;
    }
}

@media (min-width: 510px) {

    .searchBar input,
    .searchBar i,
    .compra-cuotas,
    ul,
    a {
        font-size: 12px;
    }

    .navbar,
    .loginbar {
        gap: 10px;
    }
}

@media (min-width: 769px) {

    .searchBar input,
    .searchBar i,
    .compra-cuotas,
    ul,
    a {
        font-size: 16px;
    }

    .top-var img {
        width: 35%;
    }

    .searchBar input {
        width: 100%;
        padding: 3px;
    }

    .boton {
        padding: 3px;
    }

    ul {
        padding: 1px 25px;
    }

    .navbar,
    .loginbar {
        gap: 15px;
    }
}

@media (min-width: 1100px) {

    header,
    .top-var,
    main,
    main img,
    .banner,
    footer {
        max-width: 1100px;
        margin: auto;
    }

    .banner {
        display: block;
    }
}