* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

/******************** HEADER ********************/

header {
    background-color: #EAC926;
    font-size: 12px;
    width: 100vw;
    height: 100%;
    padding-bottom: 10px;
}

.logo {
    width: 35vw;
    margin: 30px 0 0 30px;
}

.searchbar {
    margin: 10px 0 0 20px;
}

.compra-cuotas {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.hamburguer {
    display: block;
    background-color: #1259c3;
    color: #ebebeb;
    max-width: 40px;
    font-size: 18px;
    text-align: center;
    padding: 8px 0;
    margin: auto;
    border-radius: 8px;
}

.navbar,
.loginbar {
    display: none;
}

/******************** BANNER ********************/

.banner {
    width: 100%;
}

/******************** MAIN ********************/

main {
    width: 90%;
    margin: auto;
}

main h3 {
    margin-bottom: 5px;
    font-size: 24px;
}

main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main article {
    margin-bottom: 10px;
    width: 100%;
    background-color: white;
}

main img {
    width: 100%;
}

.container {
    border-top: solid 1px #ebebeb;
    padding: 15px;
    width: 100%;
    background-color: white;
    position: relative;
    margin-top: 0px;
}

main .fa-solid {
    color: limegreen;
    border: 1px solid limegreen;
    /* border-radius: 25px;
    padding-top: 5px;
    padding-left: 5px;
    width: 40px;
    height: 40px; */
    display: block;
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    height: 30px;
    font-size: 16px;
    position: absolute;
    right: 20px;
    top: -15px;
}

.precioYDescuento {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 5px;
}

.precios {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 30%;
}

.descuentos {
    color: limegreen;
    max-width: 70%;
}

.descripciones {
    display: none;
}

.descuentos,
.descripciones {
    font-size: 16px;
    margin-top: 0px;
}

/******************** FOOTER ********************/

footer {
    background-color: #ebebeb;
    font-size: 12px;
    text-align: center;
    color: #666;
}

footer article {
    padding: 30px 63px 0 63px;
}

footer p {
    margin-top: 0px;
}

.titulo {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
}

.detalle {
    font-size: 10px;
}

.copyright {
    text-align: left;
    padding: 30px 0px 10px 20px;
}

@media (min-width: 361px) {

    .navbar,
    .loginbar {
        display: block;
    }

    .hamburguer {
        display: none;
    }

    main .descripciones {
        display: block;
    }

    main article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45%;
    }
}

@media (min-width: 769px) {

    .navbar,
    .loginbar {
        display: block;
    }

    .hamburguer {
        display: none;
    }

    .descripciones {
        display: block;
    }

    main article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 22%;
    }
}