* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

/******************** HEADER ********************/

header {
    background-color: #EAC926;
    font-size: 12px;
    width: 100vw;
}

.logo {
    width: 35%;
    margin: 30px 0 0 30px;
}

.searchbar {
    margin: 10px 0 0 20px;
}

.compra-cuotas {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.fa-bars {
    background-color: #1259c3;
    color: #ebebeb;
    padding: 8px;
    margin-bottom: 15px;
    margin-left: 45%;
    border-radius: 5px;
}

.navbar, .loginbar {
    display: none;
}

/******************** MAIN ********************/

main {
    width: 90%;
    margin: auto;
}

main article {
    margin-bottom: 10px;
    width: 100%;
}

main img {
    width: 100%;
}

.container {
    border-top: solid 1px #ebebeb;
    padding: 15px;
    width: 100%;
    background-color: white;
}

main .fa-solid {
    color: limegreen;
    border: 1px solid limegreen;
    border-radius: 25px;
    padding-top: 5px;
    padding-left: 5px;
    width: 40px;
    height: 40px;
}

h3 {
    font-size: 24px;
}

.precios {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.descuentos {
    color: limegreen;
}

.descripciones {
    display: none;
}

.descuentos,
.descripciones {
    font-size: 16px;
    margin-top: 0px;
}

/******************** FOOTER ********************/
footer {
    background-color: #ebebeb;
    font-size: 12px;
    text-align: center;
    color: #666;
}

footer article {
    padding: 30px 63px 0 63px;
}

footer p {
    margin-top: 0px;
}

.titulo {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
}

.detalle {
    font-size: 10px;
}

.copyright {
    text-align: left;
    padding: 30px 0px 10px 20px;
}

@media (min-width: 361px) {
    .navbar, .loginbar {
        display: block;
    }

    header .fa-solid {
        display: none;
    }

    main .descripciones {
        display: block;
    }

    main article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media (min-width: 769px) {
    .navbar, .loginbar {
        display: block;
    }

    header .fa-solid {
        display: none;
    }

    .descripciones {
        display: block;
    }

    main article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}